html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.my-app-container {
	max-width: 1212px;
	margin: 0 auto;
}

.vote-btn {
	width: fit-content;
	padding: 10px 20px;
	border-radius: 40px !important;
	cursor: pointer;
}
